* {
  //  font: 20px arial. sans-serif;
  //  color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  color: rgb(182, 45, 45);
  background: rgba(18, 72, 93, 0.5);
}

#header {
  color: red;
  background: rgba(172, 71, 4, 0.6);
}
header,
main,
aside,
footer {
  border: 3px solid green;
  padding: 10px;
  margin: 10px 0;
}
main {
  float: left;
  width: 65%;
}

aside {
  float: right;
  width: 30%;
}

footer {
  clear: both;
}

.yellowBackground {
  background: rgb(200, 200, 142);
  color: #2929ea;
}

.text-align-center {
  text-align: center;
}

#articles {
  background-color: rgb(128, 156, 240);
}

//p.yellowBackground {
//  text-align: center;
//}

td.yellowBackground {
  font-size: 30px;
}

#sectionWithBackground {
  background-color: lightness($color: #137181);
  background-image: url("https://i1.rozetka.ua/goods/8333607/58883314_images_8333607250.jpg");
  //border: 2px solid black;
  border-width: 3px;
  border-style: dotted;
  border-color: maroon;
  border-radius: 15px;
  padding: 20px 10px;
}

#sectionWithBackground h3 {
  border-left-color: mediumpurple;
  border-left-width: 10px;
  border-left-style: solid;
}

img {
  margin: 10px;
  border-radius: 15px;
}

.roundImage {
  border-radius: 160px;
}

body {
  margin: 0em 8px;
  padding: 0em 8px;
}
