* {
  //  font: 20px arial. sans-serif;
  //  color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  color: rgb(246, 158, 99);
}

h3 {
  color: rgb(129, 223, 246);
}

#header {
  color: rgb(250, 164, 66);
  size: 15px;
}
header,
main,
aside,
footer {
  padding: 10px;
  margin: 10px 0;
}

header {
  background-color: rgb(75, 53, 75);
  text-align: center;
  color: whitesmoke;
}

main {
  float: left;
  width: 65%;
  border-right: cornflowerblue dotted;
}

aside {
  float: right;
  width: 30%;
}

footer {
  clear: both;
  background-color: rgb(34, 17, 34);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

a {
  color: whitesmoke;
}

.linkSection a {
  color: rgb(209, 169, 74);
}

img {
  margin: 10px;
}

body {
  margin: 0em 8px;
  padding: 0em 8px;
}

table {
  border-collapse: collapse;
  width: 40%;
}

table,
th,
td {
  border: 1px solid;
  border-color: black;
}
